/* #region header */
[alt="Daniele Morello"] {
  height: 22rem;
}

[alt="Gmail"] {
  margin-top: 4rem;
}

[alt="Gmail"],
address {
  margin-bottom: 2rem;
}

address {
  margin-top: 4.6rem;
}

address,
#info img {
  margin-left: 1rem;
}
#info img {
  width: 3rem;
}
/* #endregion header */

#experience h4:not(:first) {
  margin-top: 3rem;
}

#experience article {
  max-width: 22rem;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}
